{% extends 'base.html.twig' %}

{% block title %}Hello NoticiaController!{% endblock %}

{% block body %}
    {%include 'menu.html.twig' %}
        <link rel="stylesheet" href="/css/style_Form_Validar.css" />
        <script src="/js/Validar_Form.js"></script> 
        
        
            <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <form id="regForm" action="{{ path('add_contacta') }}" method="post">
                    <h1 id="register">Contacta con Nosotros <i class="fa-solid fa-envelope"></i></h1>
                    <div class="all-steps" id="all-steps"> <span class="step"><i class="fa-solid fa-circle-question"></i></span> <span class="step"><i class="bi bi-card-text"></i></span> <span class="step"><i class="fa-solid fa-clipboard-check"></i></span></div>
                    <div class="tab">
                        <h6>¿Por qué tema nos contactás?</h6>
                        <p><input placeholder="Motivo..." oninput="this.className = ''" name="motivo"></p>
                    </div>
                    <div class="tab">
                        <h6>Escribe la descripción:</h6>
                        <p><input placeholder="Descripción..." oninput="this.className = ''" name="descripcion"></p>    
                    </div>
                    <div class="tab" id="text-message"><br>
                        <input type="submit" name="Confirmar" class="btn btn-outline-primary">
                    </div><br>
                    <div style="overflow:auto;" id="nextprevious">
                        <div style="float:right;"> <button type="button" id="prevBtn" onclick="nextPrev(-1)"><i class="fa fa-angle-double-left"></i></button> <button type="button" id="nextBtn" onclick="nextPrev(1)"><i class="fa fa-angle-double-right"></i></button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <br><br><br>
    {%include 'footer.html.twig' %} 
{% endblock %}

