{# empty Twig template #}
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar Incidencia ...">
<select class="form-select form-select-sm" id="mySelect" onchange="myFunctionEstado()">
    <option value="Iniciada" class="bg-warning">Iniciada</option>
    <option value="En proceso" class="bg-danger">En proceso</option>
    <option value="Resuelto" class="bg-success">Resuelto</option>
</select>
<select class="form-select form-select-sm" id="mySelect2" onchange="myFunctionTipo()">
    
</select>
