{# empty Twig template #}
<link rel="stylesheet" href="/css/style_Filtros.css" />
<div class="filtros">
<b><i class="fa-solid fa-filter"> </i> Filtro</b>
<form class="form_buscador">
    <input type="search" id="myInput" onkeyup="myFunction();" required><i class="fa fa-search" style="color:white"></i>
</form>   
<div class="input-group">
<select class="form-select form-select-sm select_filtro text-center fw-bold" id="mySelect" onchange="myFunctionEstado();">
    <option value="" selected>--Todos los Estados--</option> 
    <option value="Iniciada" class="bg-warning">Iniciada</option>
    <option value="En proceso" class="bg-danger">En proceso</option>
    <option value="Resuelto" class="bg-success">Resuelto</option>
</select>
<select class="form-select form-select-sm select_filtro text-center fw-bold" id="mySelect2" onchange="myFunctionTipo();">
    <option value="" selected>--Todos los Tipos--</option> 
    <option value="1">Electrica </option>    
    <option value="2">Gas</option>    
    <option value="3">Agua</option>    
    <option value="4">Telefono</option>    
    <option value="5">Internet</option>    
    <option value="6">Circulacion</option>    
    <option value="8">Residuos</option>    
    <option value="9">Mobiliario Urbano</option>    
    <option value="10">Parques y Jardines</option>    
    <option value="11">Señalizacion</option>    
    <option value="12">Mantenimiento</option>    
    <option value="13">Aceras y Calzadas</option>    
    <option value="14">Vandalismo</option>    
    <option value="15">Plagas de insectos y otros</option>    
    <option value="16">Otras Averias</option>
</select>
 </div>
      <br>
    <a class="btn btn-primary" title="Información" data-bs-toggle="collapse" href="#collapseExampleFiltro" role="button" aria-expanded="false" aria-controls="collapseExampleFiltro">
        <i class="fa-solid fa-circle-info"></i> Info 
    </a>
      <br>  
    <div class="collapse" id="collapseExampleFiltro">
        <br>
        <div class="card card-body" style="background-color: #DEE1E8"> 
            <div><b>Estado</b><br><i class="fa-solid fa-square" style="color:yellow;"></i> Iniciada <i class="fa-solid fa-square" style="color:red"></i> En proceso <i class="fa-solid fa-square" style="color: green;"></i> Resuelto</div>
 <div><b>Tipología</b></br>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Eléctrica <img src="/imagenes/iconos/Electrica .svg" height="18px" alt="..." />
    </div> 
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Gas <img src="/imagenes/iconos/Gas.svg" height="18px" alt="..." />
    </div>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Agua <img src="/imagenes/iconos/Agua.svg" height="18px" alt="..." />
    </div>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Teléfono <img src="/imagenes/iconos/Telefono.svg" height="18px" alt="..." />
    </div>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Internet <img src="/imagenes/iconos/Internet.svg" height="18px" alt="..." />
    </div>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Circulación <img src="/imagenes/iconos/Circulacion.svg" height="18px" alt="..." />
    </div>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Residuos <img src="/imagenes/iconos/Residuos.svg" height="18px" alt="..." />
    </div>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Mobiliario Urbano <img src="/imagenes/iconos/Mobiliario Urbano.svg" height="18px" alt="..." />
    </div>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Parques y Jardines <img src="/imagenes/iconos/Parques y Jardines.svg" height="18px" alt="..." />
    </div>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Señalizacion <img src="/imagenes/iconos/Señalizacion.svg" height="18px" alt="..." />
    </div>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Mantenimiento <img src="/imagenes/iconos/Mantenimiento.svg" height="18px" alt="..." />
    </div>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Aceras y Calzadas <img src="/imagenes/iconos/Aceras y Calzadas.svg" height="18px" alt="..." />
    </div>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Vandalismo <img src="/imagenes/iconos/Vandalismo.svg" height="18px" alt="..." />
    </div>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Plagas de insectos y otros <img src="/imagenes/iconos/Plagas de insectos y otros.svg" height="18px" alt="..." />
    </div>
    <div class="badge badge-danger px-3 rounded-pill bg-warning">
        Otras Averias <img src="/imagenes/iconos/Otras Averias.svg" height="18px" alt="..." />
    </div>
 </div>
        </div>
    </div>
 </div>


