<link rel="stylesheet" href="/css/style_Footer.css" />

<footer class="text-center text-lg-start text-white w-100">
          <div class="container p-4 pb-0">
            <section class="">
              <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                  <p>
                    <img src="/imagenes/img_web/logo_banco_sin_fondo.png" class="row-auto col-auto w-100 rounded" />
                  </p>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Gestión De Incidencias</h6>
                  <p>
                    Notifica cualquier tipo de problema, incidencia, averia, queja, reclamación, etc.
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <hr class="w-100 clearfix d-md-none" />
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                  <p><i class="fas fa-home mr-3"></i>Eruelas,Nº 50, ES</p>
                  <p><i class="fas fa-envelope mr-3"></i> diegosanchezrojo@gmail.com</p>
                  <p><i class="fas fa-phone mr-3"></i> + 66 666 666 66</p>
                  <p><i class="fas fa-print mr-3"></i> + 66 666 666 66</p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Síganos</h6>
                  <a
                     class="btn btn-primary btn-floating m-1"
                     style="background-color: #3b5998"
                     href="#!"
                     role="button"
                     ><i class="fab fa-facebook-f"></i
                    ></a>
                  <a
                     class="btn btn-primary btn-floating m-1"
                     style="background-color: #55acee"
                     href="#!"
                     role="button"
                     ><i class="fab fa-twitter"></i
                    ></a>
                  <a
                     class="btn btn-primary btn-floating m-1"
                     style="background-color: #dd4b39"
                     href="#!"
                     role="button"
                     ><i class="fab fa-google"></i
                    ></a>
                  <a
                     class="btn btn-primary btn-floating m-1"
                     style="background-color: #ac2bac"
                     href="#!"
                     role="button"
                     ><i class="fab fa-instagram"></i
                    ></a>
                  <a
                     class="btn btn-primary btn-floating m-1"
                     style="background-color: #0082ca"
                     href="#!"
                     role="button"
                     ><i class="fab fa-linkedin-in"></i
                    ></a>
                  <a
                     class="btn btn-primary btn-floating m-1"
                     style="background-color: #333333"
                     href="#!"
                     role="button"
                     ><i class="fab fa-github"></i
                    ></a>
                </div>
              </div>
            </section>
          </div>
        </footer>
