{# empty Twig template #}

{% extends 'base.html.twig' %}


{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<section class="form-register">
    <p><u><b>WEB DE INCIDENCIAS</u></b></p> 
    <br>
    <p>GESTIÓN DE INCIDENCIAS DE CLIENTES</P>
    <br>
    <br>
</section>
<a href="{{ path('app_incidencia') }}"><button class="btn2" type="button">Incidencias</button></a>
{% endblock %}