{% extends 'base.html.twig' %}

{% block title %}Hello NoticiaController!{% endblock %}

{% block body %}
    {%include 'menu.html.twig' %}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <h2 class="titulo">Ayuda Usuario</h2>
          <main class="flex-shrink-0">
            <!-- About section one-->
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/Pagina_principal.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Pagina_principal.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/nuestros_servicios.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/nuestros_servicios.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/servicios_datos.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/servicios_datos.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/incidencia_zona.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/incidencia_zona.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/vistas_incidencias.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/vistas_incidencias.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/titulo_descripcion_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/titulo_descripcion_incidencia.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/tipologia_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/tipologia_incidencia.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/Ubicacion_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Ubicacion_incidencia.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/Ubicacion_detalles.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Ubicacion_detalles.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/Estado_fecha_detalles.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Estado_fecha_detalles.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/ver_comentarios.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/ver_comentarios.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/ventana_comentarios.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/ventana_comentarios.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/imagen_incidencia_zoom.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/imagen_incidencia_zoom.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
                        <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/Detalles_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Detalles_incidencia.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/zoom_foto.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/zoom_foto.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/nueva_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/nueva_incidencia.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/titulo_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/titulo_incidencia.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/mapa_incidecia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/mapa_incidecia.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/mantener_pulsada.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/mantener_pulsada.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
                        <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/nivel_gravedad.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/nivel_gravedad.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/tipo_averia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/tipo_averia.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/imagen_subir.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/imagen_subir.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/descripcion.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/descripcion.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
                        <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/confirmar_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/confirmar_incidencia.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/marcadores_mapa.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/marcadores_mapa.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
                                    <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/marcas_gravedad.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/marcas_gravedad.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/marcas_mapa.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/marcas_mapa.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/detalles_marcador.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/detalles_marcador.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/marcas_mapa.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/marcas_mapa.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/noticias.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/noticias.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/Noticias_alertas.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Noticias_alertas.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/ver_noticia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/ver_noticia.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/detalles_noticia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/detalles_noticia.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
             <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/menu_contacta_con_nosotros.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/menu_contacta_con_nosotros.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/Contacta_con_nosotros.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Contacta_con_nosotros.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
                         <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/descripcion_contacta.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/descripcion_contacta.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/confirmar_contacto.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/confirmar_contacto.png" alt="..." /></div></a>                       <div class="col-lg-6">
                            <h2 class="fw-bolder">titulo</h2>
                            <p class="lead fw-normal text-muted mb-0">descripcion</p>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
      </main>
    {%include 'footer.html.twig' %} 
{% endblock %}

