{% extends 'base.html.twig' %}

{% block title %}Hello NoticiaController!{% endblock %}

{% block body %}
    {%include 'menu.html.twig' %}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <h2 class="titulo">Ayuda Usuario</h2>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Navegar Página
    </button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
      Ver Incidencias Zona
    </button>
    <br><br>
     <main class="flex-shrink-0">
    <div class="collapse" id="collapseExample">
        <!-- Navegar Página Web-->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/Pagina_principal.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Pagina_principal.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Página Principal</h2>
                        <p class="lead fw-normal text-muted mb-0">Encontramos todos los servicios de la página web y información sobre que es una incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/nuestros_servicios.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/nuestros_servicios.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Menú Servicios</h2>
                        <p class="lead fw-normal text-muted mb-0">Para navegar entre los distintos servicios.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menú Servicios con Datos -->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/servicios_datos.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/servicios_datos.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Menú Servicios Datos</h2>
                        <p class="lead fw-normal text-muted mb-0">Encontramos todos los servicios de la página web.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menú Servicios Modal-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/servicios_modal.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/servicios_modal.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Menú Servicios Modal</h2>
                        <p class="lead fw-normal text-muted mb-0">Para navegar entre los distintos servicios.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Incidencias Zona -->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/incidencia_zona.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/incidencia_zona.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Ver Incidencias Zona</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Ver Incidencias Zona.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Nueva Incidencia-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/nueva_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/nueva_incidencia.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Añadir una Nueva Incidencia</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Añadir Incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Mis Incidencias -->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/mis_incidencias.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/mis_incidencias.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Mis Incidencias</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Mis Incidencias.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Marcadores Mapa-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/marcadores_mapa.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/marcadores_mapa.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Marcadores Mapa</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Marcadores Mapa.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Mis Incidencias -->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/noticias_incidencias.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/noticias_incidencias.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Noticias y Alertas</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Noticias y Alertas.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Marcadores Mapa-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/graficas_analisis.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/graficas_analisis.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Graficas y Analisis</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Graficos y Analisis.</p>
                    </div>
                </div>
            </div>
        </section>
                <!-- Entrar Mis Incidencias -->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/ayuda_usuario.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/ayuda_usuario.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Ayuda Usuario</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Ayuda Usuario.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Marcadores Mapa-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/menu_contacta_con_nosotros.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/menu_contacta_con_nosotros.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Contacta con Nosotros</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Contacta con Nosotros.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/incidencia_finalidad.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/incidencia_finalidad.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Información</h2>
                        <p class="lead fw-normal text-muted mb-0">Información sobre las incidencias.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Marcadores Mapa-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/footer_frase.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/footer_frase.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Sobre nosotros</h2>
                        <p class="lead fw-normal text-muted mb-0">Información sobre Nosotros.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
        <div class="collapse" id="collapseExample2">
         <!-- Navegar Página Web-->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/incidencia_zona.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/incidencia_zona.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Ver Incidencias Zona</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Ver Incidencias Zona.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/vista_inci_zona.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/vista_inci_zona.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Incidencias Zona</h2>
                        <p class="lead fw-normal text-muted mb-0">Donde encontramos las incidencias de tu zona.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/imagen_incidencia_zoom.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/imagen_incidencia_zoom.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Imagen Incidencia</h2>
                        <p class="lead fw-normal text-muted mb-0">Imagen de la Incidencias si haces Clic puedes hacer Zoom.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/zoom_foto.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/zoom_foto.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Zoom Imagen</h2>
                        <p class="lead fw-normal text-muted mb-0">Zoom imagen incidencias.</p>
                    </div>
                </div>
            </div>
        </section>
                <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/titulo_descripcion_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/titulo_descripcion_incidencia.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Título y descripción</h2>
                        <p class="lead fw-normal text-muted mb-0">Título y descripción de la incidencia, si haces Clic en el titulo te lleva a ver los detalles.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/Detalles_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Detalles_incidencia.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Detalles</h2>
                        <p class="lead fw-normal text-muted mb-0">Detalles Incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
         <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/Ubicacion_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Ubicacion_incidencia.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Ubicación Incidencia</h2>
                        <p class="lead fw-normal text-muted mb-0">Hacer Clic encima del botón de ubicación nos muestro su posicionamiento.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/Ubicacion_detalles.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Ubicacion_detalles.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Detalles Ubicación</h2>
                        <p class="lead fw-normal text-muted mb-0">Posición exacta de donde esta la incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/Tipologia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Tipologia.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Tipología Incidencias</h2>
                        <p class="lead fw-normal text-muted mb-0">Los tipos de incidencias que hay.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/tipologia_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/tipologia_incidencia.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Tipologia Incidencia</h2>
                        <p class="lead fw-normal text-muted mb-0">Tipo de Averia Incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
                 <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/filtros.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/filtros.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Filtros de busqueda.</h2>
                        <p class="lead fw-normal text-muted mb-0">Para poder buscar una incidencia en concreto.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/Estado_fecha_detalles.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Estado_fecha_detalles.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Ver,Estado,Fecha</h2>
                        <p class="lead fw-normal text-muted mb-0">Datos incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/ver_comentarios.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/ver_comentarios.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Ver Comentarios</h2>
                        <p class="lead fw-normal text-muted mb-0">Vista comentarios Incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/ventana_comentarios.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/ventana_comentarios.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Comentarios</h2>
                        <p class="lead fw-normal text-muted mb-0">Comentarios incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
        </div>     
    </main>
        <br><br><br><br><br><br>
        
    {%include 'footer.html.twig' %} 
{% endblock %}

