{% extends 'base.html.twig' %}

{% block title %}InciConnect - Ayuda Usuario{% endblock %}

{% block body %}
    {%include 'menu.html.twig' %}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>.
    <h2 class="titulo">Ayuda Usuario</h2>
    <img src="/imagenes/img_ayuda_usuario/2.png"/><br><br>
    <div class="row">
  <div class="col-3 m-2">
    <div class="btn-group list-group" role="group" id="list-tab" role="tablist">
        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <label class="btn btn-outline-primary" for="btncheck1">Navegar Página</label>

        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
        <label class="btn btn-outline-primary" for="btncheck2">Ver Incidencias Zona</label>

        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
        <label class="btn btn-outline-primary" for="btncheck3">Nueva Incidencia</label>
        
        <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
        <label class="btn btn-outline-primary" for="btncheck4">Marcadores Mapa</label>
        
        <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
        <label class="btn btn-outline-primary" for="btncheck5">Noticias y Alertas</label>
        
        <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample6">
        <label class="btn btn-outline-primary" for="btncheck6">Grafica y Analisis</label>
        
        <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample7">
        <label class="btn btn-outline-primary" for="btncheck7">Contacta con Nosotros</label>
    </div>  
  </div>
  <div class="col-8">
      <main class="flex-shrink-0">
        <div class="collapse" id="collapseExample">
        <!-- Navegar Página Web-->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/Pagina_principal.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Pagina_principal.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Página Principal</h2>
                        <p class="lead fw-normal text-muted mb-0">Encontramos todos los servicios de la página web y información sobre que es una incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/nuestros_servicios.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/nuestros_servicios.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Menú Servicios</h2>
                        <p class="lead fw-normal text-muted mb-0">Para navegar entre los distintos servicios.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menú Servicios con Datos -->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/servicios_datos.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/servicios_datos.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Menú Servicios Datos</h2>
                        <p class="lead fw-normal text-muted mb-0">Encontramos todos los servicios de la página web.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menú Servicios Modal-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/servicios_modal.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/servicios_modal.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Menú Servicios Modal</h2>
                        <p class="lead fw-normal text-muted mb-0">Para navegar entre los distintos servicios.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Incidencias Zona -->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/incidencia_zona.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/incidencia_zona.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Ver Incidencias Zona</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Ver Incidencias Zona.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Nueva Incidencia-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/nueva_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/nueva_incidencia.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Añadir una Nueva Incidencia</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Añadir Incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Mis Incidencias -->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/mis_incidencias.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/mis_incidencias.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Mis Incidencias</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Mis Incidencias.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Marcadores Mapa-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/marcadores_mapa.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/marcadores_mapa.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Marcadores Mapa</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Marcadores Mapa.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Mis Incidencias -->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/noticias_incidencias.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/noticias_incidencias.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Noticias y Alertas</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Noticias y Alertas.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Marcadores Mapa-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/graficas_analisis.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/graficas_analisis.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Graficas y Analisis</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Graficos y Analisis.</p>
                    </div>
                </div>
            </div>
        </section>
                <!-- Entrar Mis Incidencias -->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/ayuda_usuario.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/ayuda_usuario.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Ayuda Usuario</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Ayuda Usuario.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Marcadores Mapa-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/menu_contacta_con_nosotros.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/menu_contacta_con_nosotros.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Contacta con Nosotros</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Contacta con Nosotros.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/incidencia_finalidad.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/incidencia_finalidad.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Información</h2>
                        <p class="lead fw-normal text-muted mb-0">Información sobre las incidencias.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Entrar Marcadores Mapa-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/footer_frase.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/footer_frase.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Sobre nosotros</h2>
                        <p class="lead fw-normal text-muted mb-0">Información sobre Nosotros.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
        <div class="collapse" id="collapseExample2">
         <!-- Navegar Página Web-->
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/incidencia_zona.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/incidencia_zona.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Ver Incidencias Zona</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Ver Incidencias Zona.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/vista_inci_zona.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/vista_inci_zona.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Incidencias Zona</h2>
                        <p class="lead fw-normal text-muted mb-0">Donde encontramos las incidencias de tu zona.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/imagen_incidencia_zoom.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/imagen_incidencia_zoom.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Imagen Incidencia</h2>
                        <p class="lead fw-normal text-muted mb-0">Imagen de la Incidencias si haces Clic puedes hacer Zoom.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/zoom_foto.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/zoom_foto.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Zoom Imagen</h2>
                        <p class="lead fw-normal text-muted mb-0">Zoom imagen incidencias.</p>
                    </div>
                </div>
            </div>
        </section>
                <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/titulo_descripcion_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/titulo_descripcion_incidencia.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Título y descripción</h2>
                        <p class="lead fw-normal text-muted mb-0">Título y descripción de la incidencia, si haces Clic en el titulo te lleva a ver los detalles.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/Detalles_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Detalles_incidencia.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Detalles</h2>
                        <p class="lead fw-normal text-muted mb-0">Detalles Incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
         <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/Ubicacion_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Ubicacion_incidencia.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Ubicación Incidencia</h2>
                        <p class="lead fw-normal text-muted mb-0">Hacer Clic encima del botón de ubicación nos muestro su posicionamiento.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/Ubicacion_detalles.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Ubicacion_detalles.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Detalles Ubicación</h2>
                        <p class="lead fw-normal text-muted mb-0">Posición exacta de donde esta la incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/Tipologia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Tipologia.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Tipología Incidencias</h2>
                        <p class="lead fw-normal text-muted mb-0">Los tipos de incidencias que hay.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/tipologia_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/tipologia_incidencia.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Tipologia Incidencia</h2>
                        <p class="lead fw-normal text-muted mb-0">Tipo de Averia Incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
                 <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/filtros.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/filtros.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Filtros de busqueda.</h2>
                        <p class="lead fw-normal text-muted mb-0">Para poder buscar una incidencia en concreto.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/Estado_fecha_detalles.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Estado_fecha_detalles.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Ver,Estado,Fecha</h2>
                        <p class="lead fw-normal text-muted mb-0">Datos incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/ver_comentarios.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/ver_comentarios.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Ver Comentarios</h2>
                        <p class="lead fw-normal text-muted mb-0">Vista comentarios Incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/ventana_comentarios.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/ventana_comentarios.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Comentarios</h2>
                        <p class="lead fw-normal text-muted mb-0">Comentarios incidencia.</p>
                    </div>
                </div>
            </div>
        </section>
        </div>    
        <div class="collapse" id="collapseExample3">
           <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/nueva_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/nueva_incidencia.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                        <h2 class="fw-bolder">Añadir una Nueva Incidencia</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Añadir Incidencia.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/titulo_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/titulo_incidencia.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Título Incidencia</h2>
                            <p class="lead fw-normal text-muted mb-0">Poner un título a la incidencia.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/mapa_incidecia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/mapa_incidecia.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Añadir una ubicación</h2>
                            <p class="lead fw-normal text-muted mb-0">Agregar ubicación exacta de la incidencia.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/mantener_pulsada.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/mantener_pulsada.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Mantener el icono para mover la ubicación</h2>
                            <p class="lead fw-normal text-muted mb-0">Si mantienes pulsado el icono del marcador del mapa puedes posicionarte donde quieras.</p>
                        </div>
                        </div>
                    </div>
            </section>
                        <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/nivel_gravedad.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/nivel_gravedad.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Gravedad</h2>
                            <p class="lead fw-normal text-muted mb-0">Nivel de gravedad de la incidencia.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/tipo_averia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/tipo_averia.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Tipo de Averia</h2>
                            <p class="lead fw-normal text-muted mb-0">Tipo de averia de la incidencia.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/imagen_subir.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/imagen_subir.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Foto</h2>
                            <p class="lead fw-normal text-muted mb-0">Subir una foto de la incidencia con la mayor calidad posible.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/descripcion.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/descripcion.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Descripción</h2>
                            <p class="lead fw-normal text-muted mb-0">Una descripción breve de como esta la incidencia.</p>
                        </div>
                        </div>
                    </div>
            </section>
                        <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/confirmar_incidencia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/confirmar_incidencia.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Confirmar</h2>
                            <p class="lead fw-normal text-muted mb-0">Hacer Clic en Enviar</p>
                        </div>
                        </div>
                    </div>
            </section>
        </div>
        <div class="collapse" id="collapseExample4">
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/marcadores_mapa.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/marcadores_mapa.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                           <h2 class="fw-bolder">Marcadores Mapa</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Marcadores Mapa.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/marcas_gravedad.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/marcas_gravedad.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Tipos de Gravedad</h2>
                            <p class="lead fw-normal text-muted mb-0">Iconos que encontraremos en el mapa según el tipo de gravedad.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/marcas_mapa.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/marcas_mapa.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Iconos</h2>
                            <p class="lead fw-normal text-muted mb-0">Distintos tipo de gravedad.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/detalles_marcador.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/detalles_marcador.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Detalles</h2>
                            <p class="lead fw-normal text-muted mb-0">Con el ratón por encima de la incidencia puedes ver que es y ver sus detalles.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/marcas_mapa.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/marcas_mapa.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                           <h2 class="fw-bolder">Iconos</h2>
                            <p class="lead fw-normal text-muted mb-0">Distintos tipo de gravedad.</p>
                        </div>
                        </div>
                    </div>
            </section>
        </div> 
        <div class="collapse" id="collapseExample5">
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/noticias_incidencias.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/noticias_incidencias.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Noticias y Alertas</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Noticias y Alertas.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/Noticias_alertas.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Noticias_alertas.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Noticias</h2>
                            <p class="lead fw-normal text-muted mb-0">Todas las noticias y alertas.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/ver_noticia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/ver_noticia.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Ver</h2>
                            <p class="lead fw-normal text-muted mb-0">Detalles de la noticia o alerta.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/detalles_noticia.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/detalles_noticia.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Detalles</h2>
                            <p class="lead fw-normal text-muted mb-0">Detalles de la noticia o alerta.</p>
                        </div>
                        </div>
                    </div>
            </section>
        </div> 
        <div class="collapse" id="collapseExample6">
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/graficas_analisis.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/graficas_analisis.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Graficas y Analisis</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Graficos y Analisis.</p>                    </div>
                </div>
            </div>
        </section>
        <!-- Menu Servicios-->
        <section class="py-3" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/numero_incidencias.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/numero_incidencias.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Menú Servicios</h2>
                        <p class="lead fw-normal text-muted mb-0">Para navegar entre los distintos servicios.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-3 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/grafica_incidencias.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/grafica_incidencias.png" alt="..." /></div></a>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Graficas y Analisis</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Graficos y Analisis.</p>                    </div>
                </div>
            </div>
        </section>
        </div>    
        <div class="collapse" id="collapseExample7">
             <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/menu_contacta_con_nosotros.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/menu_contacta_con_nosotros.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                           <h2 class="fw-bolder">Contacta con Nosotros</h2>
                        <p class="lead fw-normal text-muted mb-0">Opción del menú para entrar en Contacta con Nosotros.</p>

                        </div>
                        </div>
                    </div>
            </section>
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/Contacta_con_nosotros.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/Contacta_con_nosotros.png" alt="..." /></div></a>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Motivo</h2>
                            <p class="lead fw-normal text-muted mb-0">Motivo por el que contactas con nosotros.</p>
                        </div>
                        </div>
            </section>
                         <section class="py-3 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><a href="/imagenes/img_ayuda_usuario/descripcion_contacta.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/descripcion_contacta.png" alt="..." /></div></a>

                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Descripción</h2>
                            <p class="lead fw-normal text-muted mb-0">Descripción breve de porque contactas con nosotros.</p>
                        </div>
                        </div>
                    </div>
            </section>
            <!-- About section two-->
            <section class="py-3" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><a href="/imagenes/img_ayuda_usuario/confirmar_contacto.png" data-lightbox="photos" title="Zoom"><img class="img-fluid rounded mb-5 mb-lg-0" src="/imagenes/img_ayuda_usuario/confirmar_contacto.png" alt="..." /></div></a>                       <div class="col-lg-6">
                            <h2 class="fw-bolder">Confirmar</h2>
                            <p class="lead fw-normal text-muted mb-0">Enviar mensaje</p>
                        </div>
                        </div>
                    </div>
            </section>
        </div>    
            
    </main>
  </div>
</div>
    <br><br>
        <br><br><br><br><br><br>
        
    {%include 'footer.html.twig' %} 
{% endblock %}

